<!DOCTYPE html>
<html>
<head>
    <title>MyLibrary</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/search-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %>

    <section class="main">
        <%- include('partials/search-bar') %>

        <section class="new-books">
            <div class="control-panel">            
                <h2 class="title">New Releases</h2>
                <div class="navigation">
                    <button class="prev-btn">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2L15.09 5.09L8.18 12L15.09 18.91L12 22L2 12L12 2Z" />
                        </svg>
                    </button>
                    <div class="counter">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="2" />
                        </svg>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="2" />
                        </svg>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="2" />
                        </svg>
                    </div>
                    <button class="next-btn" style="transform: rotate(-180deg);">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2L15.09 5.09L8.18 12L15.09 18.91L12 22L2 12L12 2Z" />
                        </svg>
                    </button>
                </div> 
            </div>
            <div class="new-books-container">
                <% newBooks.forEach(book => { %>
                    <div class="book-container" 
                        data-book-id="<%= book.title %>" 
                        style="background-image: 
                                linear-gradient(rgb(116, 141, 162, 0.7), rgb(116, 141, 162, 0.7)),
                                linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 70px), 
                                linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 70px),
                                linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 70px),
                                url('https://covers.openlibrary.org/b/id/<%= book.cover_id %>-M.jpg');">
                        <img src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-M.jpg" alt="" class="book-img">
                        <div class="book-inf">
                            <h3 class="book-name"> <%= book.title %> </h3>
                            <p class="book-author"> <%= book.author_name %> </p>
                            <div class="rating" data-total-value="<%= parseFloat(book.ratings_average).toFixed(0) %>">
                                <div class="rating-item" data-item-value="5">★</div>
                                <div class="rating-item" data-item-value="4">★</div>
                                <div class="rating-item" data-item-value="3">★</div>
                                <div class="rating-item" data-item-value="2">★</div>
                                <div class="rating-item" data-item-value="1">★</div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </section>

        <section class="for-you">
            <div class="control-panel">
                <h2 class="title">For You</h2>
                <div class="navigation">
                    <button class="prev-btn">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2L15.09 5.09L8.18 12L15.09 18.91L12 22L2 12L12 2Z" />
                        </svg>
                    </button>
                    <div class="counter">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="2" />
                        </svg>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="2" />
                        </svg>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="2" />
                        </svg>
                    </div>
                    <button class="next-btn" style="transform: rotate(-180deg);">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2L15.09 5.09L8.18 12L15.09 18.91L12 22L2 12L12 2Z" />
                        </svg>
                    </button>
                </div>                
            </div>
            <div class="for-you-container">
                <% books.forEach(book => { %>
                    <div class="book-container" data-book-id="<%= book.title %>">
                        <img src="https://covers.openlibrary.org/b/id/<%= book.cover_i %>-M.jpg" alt="" class="book-img">
                        <div class="book-inf">
                            <h3 class="book-name"> <%= book.title %> </h3>
                            <p class="book-author"> <%= book.author_name %> </p>
                            <div class="rating" data-total-value="<%= parseFloat(book.ratings_average).toFixed(0) %>">
                                <div class="rating-item" data-item-value="5">★</div>
                                <div class="rating-item" data-item-value="4">★</div>
                                <div class="rating-item" data-item-value="3">★</div>
                                <div class="rating-item" data-item-value="2">★</div>
                                <div class="rating-item" data-item-value="1">★</div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </section>
    </section>

    <script src="/js/header.js"></script>
    <script src="/js/book-page.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
